    
  
    .prodotti{
    color: white;
    background-color: #1C1C1C;
  }
    .immagini{

      
      height: 250px;
        background-color: red;
        margin-top:30px;

      img{
       height: 100%;
      }
    }


